NEXT_PUBLIC_GA_ID="UA-210303881-1"
NEXT_PUBLIC_CONNECTION_NETWORK="mainnet-beta"
NEXT_PUBLIC_SOLANA_RPC_HOST_MAINNET_BETA="https://ssc-dao.genesysgo.net"
NEXT_PUBLIC_SOLANA_RPC_HOST_DEVNET="https://wispy-icy-glitter.solana-devnet.quiknode.pro/8e987a31160f3b52d01f5706b34a86698164e30b/"
